.menu {
    display: flex;
    flex-direction: column;
    width: min(100vw, 256px);
    height: 100%;
    padding:  var(--main-padding);
}

.sublink {
    margin: var(--very-small-padding) var(--small-padding) var(--very-small-padding) 0;
    margin-left: 1rem;
}

.toplink {
    margin: var(--main-padding) 0 var(--small-padding) 0;
}

@media (max-width: 768px) {
    .menu {
        width: 100vw;
        height: auto;
        border: none;
    }
}