.menu {
    display: flex;
    flex-direction: column;
    width: min(100vw, 300px);
    height: 100vh;
    padding:  var(--main-padding);
}

.mainlink {
    font-weight: 600;
}

.sublink {
    margin-left: var(--main-padding);
}

@media (max-width: 768px) {
    .menu {
        height: auto;
    }
}