.menu {
    display: flex;
    flex-direction: column;
    width: min(100vw, 300px);
    height: 100vh;
    padding:  var(--main-padding);
}

.top {
    margin-top: var(--small-padding);
}

.link {
    margin-left: var(--small-padding);
}

.logo {
    font-size: 13px;
    white-space: nowrap;
    color: var(--text);
    margin-bottom: var(--main-padding);
}

.reversed {
    display: inline-block;
    line-height: 0%;
    vertical-align: middle;
    transform: scale(1, -1);
}


@media (max-width: 768px) {
    .menu {
        height: auto;
    }
}