.topbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    padding: var(--main-padding);
}
.ol {
    padding-right:  calc(2 * var(--main-padding));
}

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.w {
  position: absolute;
  font-family: var(--ff-logo);
  font-weight: 800;
  white-space: nowrap;
}