.topbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: var(--text);
  align-items: center;
}

.link {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.w {
  font-family: var(--ff-logo);
  font-weight: 800;
  font-size: 13px;
  white-space: nowrap;
  color: #ffffff;
}