.topbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  padding: 0px var(--main-padding);
  background-color: var(--text);
}

.link {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
}

.w {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--ff-logo);
  font-weight: 800;
  white-space: nowrap;
  color: #fff;
}