@font-face {
    font-family: courier-prime;
    src: url("/static/fonts/Courier_Prime/CourierPrime-Regular.ttf");
}

@font-face {
    font-family: iosevka-charon-mono;
    src: url("/static/fonts/Iosevka_Charon_Mono/IosevkaCharonMono-Medium.ttf");
}

:root {
  --ff : courier-prime, ui-monospace, monospace;
  --ff-logo: iosevka-charon-mono, monospace;
  
  --background: #ffffff ;
  --foreground: #fff;
  --accent: #ea0062;
  --text: #020f15;

  --main-padding: 13px;
  --topbar-height: 40px;
}

::selection {
  background: var(--accent);
  color: #fff;
  text-shadow: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin-top: var(--topbar-height);
  font-family: var(--ff);
  min-height: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
}

a {
  background: var(--text-primary);
  text-decoration: none;
  color: var(--text);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--accent);
  }
}

@media (max-width: 768px) {
  body {
    flex-direction: column  ;
  }
}